<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script>
            function add(){
                location.href = "/board/add";
            }
            function info(no){
                location.href = "/board/info?no="+no;
            }
            function logout(){
                location.href = "/logout";
            }
        </script>
        <%- include("./head.ejs")%>
    </head>
    <body>
        <%- include("./nav.ejs")%>
        <div class="container" style="margin-top: 30px;">
        <div align="right">
            
            <button onclick="logout()" class="btn btn-outline-primary">로그아웃</button>
        </div>
  
        <table class = "table">
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <%if(content.length == 0){%>
                <tr>
                    <td colspan="4">해당 게시판은 게시글이 없습니다</td>
                </tr>
            <%}else{
                for(var i = 0; i < content.length; i++){%>
                    <tr onclick="info('<%=content[i].No%>')">
                        <td style="display: table-cell; vertical-align: middle; height: 100px ;"><%=content[i].name%></td>
                        <td><%=content[i].No%></td>
                        <td><%=content[i].title%></td>
                        <td><%=content[i].date%></td>
                        <td><%=content[i].time%></td>
                        <td><%=content[i].author%></td>
                    </tr>
                <%}
            }%>
        </table>
        <div class="container" style="margin-top: 20px;"></div>
        <div align="right">
        <button onclick="add()" class="btn btn-outline-primary">글쓰기</button>
        </div>
        </div>
    </div>
    </body>
</html>
